body {
	background-color: #f9efc7;
}

.navbar-default {
	background-color: #2fd46a !important;
}

.navbar-default .navbar-brand {
    color: #FFF !important;
    width: 132.66px;
}   

.navbar-default .navbar-brand:hover {
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF !important;
}

.navbar-default .navbar-nav>li>a:hover {
	font-weight: bold;
}

.navbar-form {
	float: right;
}

.navbar-form .btn{
	width: 65px;
	border: 1px solid #FFF !important;
	background-color: rgba(255, 255, 255, 0);
	color: #FFF;
}

.navbar-form .btn:hover{
	-webkit-box-shadow: 0px 0px 0.5px 1px rgba(238,238,238,0.7);
	-moz-box-shadow: 0px 0px 0.5px 1px rgba(238,238,238,0.7);
	box-shadow: 0px 0px 0.5px 1px rgba(238,238,238,0.7);
}

.container-countdown {
	padding: 50px 0 50px;
	text-align: center;
}

.section {
	position: relative;
	margin: 100px auto;
	background-color: #2fd46a;
	text-align: center;
	color: #FFF;
	font-size: 350%;
	min-width: 420px;
	width: 80%;
	height: 300px;
	font-weight: bold;
	border-radius: 10px;
	-webkit-box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.2);
	box-shadow: 10px 10px 10px 3px rgba(0,0,0,0.2);
}

.section .title{
	display: inline-block;
	margin-top: 100px;
}

.bamboo-container {
	position: relative;
	min-width: 305px;
	max-width: 50%;
	margin: auto;
}

.category {
	display: inline-block;
	float: right;
}

 .topics {
 	position: relative;
 }

 .contents{
 	position: relative;
 }

.top-status {
	/*position: relative;*/
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 200%;
}

.school-name {
	display: inline-block;
	border-bottom: 2px solid;
}

.go-back{
	position: absolute;
	max-width: 70%;
	top: 5px;
}

.filter-container {
	position: relative;
	text-align: center;
	max-width: 70%;
	margin: auto;
	margin-bottom: 40px;
	padding: 10px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	-webkit-box-shadow: 3px 3px 10px 1px rgba(238,238,238,0.9);
	-moz-box-shadow: 3px 3px 10px 1px rgba(238,238,238,0.9);
	box-shadow: 3px 3px 3px 1px rgba(238,238,238,0.9);
}

.filter {
	display: inline-block;
	position: relative;
	width: 130px;
	color: black;
}

.school-filter {
	padding-bottom: 15px;	
}

.school-filter:hover {
	font-size: 200%;
	font-weight: bold;
	margin-top: -16px;
	line-height: 40px;
	margin-bottom: -40px;
}

.category-filter {
	width: 130px;
	padding-top: 3px;
	padding-bottom: 3px; 
	color: #777777;
}

.start-btn {
	position: relative;
	margin: 0 auto;
	width: 150px;
	background-color: #FFF;
	color: #777777;
	text-align: center;
	border: 3px solid #2fd46a;
	border-bottom: 2px solid #1d8240;
	height: 70px;
	line-height: 70px;
	font-size: 250%;
	border-radius: 10px;
	background-color: #2fd46a;
	color: #FFF;
}

.start-btn:hover {
	font-size: 300%;
	font-weight: bold;
	border-bottom: 2px solid #1d8240;
}

.start-btn:active {
	font-size: 250%;
	font-weight: bold;
	border-bottom: 0;
	width: 140px;
}

.category-filter:hover {
	background-color: #2fd46a;
	font-size: 120%;
	color: #FFF;
	border-bottom: 2px solid #1d8240;
	border-radius: 3px;
	margin-top: -5px;
	margin-bottom: -40px;
	font-weight: bold;
}

.filter a, .filter a:hover, .filter a:focus {
	color: #777777;
	text-decoration: none;
}
.category-container a:hover, .category-container a:focus {
	text-decoration: none;
}

.container-section a:hover, .container-section a:focus {
	text-decoration: none;
}

.bamboo {
	border: 1px solid ;
	padding: 50px 0;
	min-height: 500px;
	position: relative;
}

.bamboo-content {
	position: absolute;
	top: 40%;
	text-align: center;
	width: 100%;
}

.bamboo-content p{
	margin-bottom: 30px;
}

main {
	min-height: 500px;
	padding: 50px 0;
}

.team {
	margin-bottom: 30px;
}

footer {
	padding: 30px 0;
	color: #FFF;
	background-color: #cc210e;

}

