<%- contentFor('bamboo') %>
<div class="container-countdown">
	<div id="countdown" class="countdown">
      <div class="row">
        <div class="countdown-item col-sm-3 col-xs-6">
          <div id="countdown-days" class="countdown-number">318</div>
          <div class="countdown-label">days</div>
        </div>
        <div class="countdown-item col-sm-3 col-xs-6">
          <div id="countdown-hours" class="countdown-number">10</div>
          <div class="countdown-label">hours</div>
        </div>
        <div class="countdown-item col-sm-3 col-xs-6">
          <div id="countdown-minutes" class="countdown-number">54</div>
          <div class="countdown-label">minutes</div>
        </div>
        <div class="countdown-item col-sm-3 col-xs-6">
          <div id="countdown-seconds" class="countdown-number">01</div>
          <div class="countdown-label">seconds</div>
        </div>
      </div>
    </div>
</div>

<section class="bamboo">
	<div class="bamboo-content">
		<h2>대나무숲ㅋㅋㅋ</h2>
		<p>똑똑한 대나무</p>

		<a href="/" class="btn btn-lg btn-primary">Get Started</a>
		<a href="/contact" class="btn btn-lg btn-primary">Search</a>
	</div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
	Home Page
</div>
