<header>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="mynav navbar-brand" href="#/">BambooStick</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li>
	        	<a href="#/bamboo/">대나무숲</a>
	        </li>
	        <li>
	        	<a href="#/school">학교</a>
	        </li>
	        <li>
	        	<a href="#/category">카테고리</a>
	        </li>
	      </ul>
	      	<form ng-submit="submit()" ng-controller="TopicView" class="navbar-form" role="search">
	        <div class="form-group">
	          <input type="text" ng-model="topic" name="topic" class="form-control" placeholder="대나무숲 토픽 검색">
	        </div>
	        <button type="submit" id="submit" class="btn">Search</button>
	      </form>
	    </div>
	  </div>
	</nav>
</header>